@media screen and (max-width: 420px) {

    body{
        margin: 0px;
    }
    
    
    
    .container, #why{
        background-color: rgba(241, 211, 149, 0.5);
    }
    
    
    .row {
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100px;
        height: 100px;
        
    }

    #lezioni .row>.left,
    #lezioni .row>.right {

        width: 100%;
        margin-bottom: 20px;

    }

    #steps .row>.left, #steps .row>.central, #steps .row>.right {

        width: 100%;
        margin-bottom: 20px;
    }

    #why .row>.first, #why .row>.second, #why .row>.third {
    
        margin-top: 20px;
    }
